.gradle/
build/
run/
out/
logs/
diagnostics/
tmp/
temp/
test-output/
/paper-*-test-server/
/paper-*-test-server.zip
/paper-server-setup-tool/
/paper-server-setup-tool.zip
.idea/
.vscode/
*.iml
*.log
*.db
*.db-shm
*.db-wal
*.tmp
hs_err_pid*
.classpath
.project
.settings/
